
/*-------------------------------*/
/*   _accordion.scss             */
/*-------------------------------*/



.accordion_button {
    width: 100%;
    color: $Body-Text-Color;
    background-color: var(--Theme-Color-Md);
    border: none;
    border-top: 1px solid $White;
    border-bottom: 1px solid $White;
    outline: none;
    text-align: left;
    padding: .5em .5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s linear;

    // Plus Sign
    &:after {
	content: '\f055';
	font-family: "fontawesome";
	font-size: 14px;
	float: right;
    }
    
    // Minus Sign
    &.is-open:after {
	content: '\f056';
    }


    &:hover,
    &.is-open {
	background-color: var(--Theme-Color);
	color: $White;
    }      
}



// Turn off Top White Border for 1st button
.accordion_button:nth-of-type(1n) {
    border-top: none;
}



// Accordion Content (div, ul, li)
.accordion_div_content {
    background-color: $White;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;

    ul {
	padding: 0;

	&>li {
	    line-height: 2;
	    border-bottom: 1px dotted var(--Theme-Color-Md);
	    padding-left: 1em;

	    &:last-child {
		border-bottom: 2px solid var(--Theme-Color-Md);
	    }

	    &:hover,
	    &:focus {
		background-color: var(--Theme-Color-Lt);
	    }
	}	
    }
}
