<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
 
  <body>

    {{ partial "building_header.html" . }}

    <main>

      {{ partial "building_sidebar.html" . }}

      <section>
	{{ partial "category_1.html" . }}
	
	<section id="content1">

	  {{ .Content }}

	</section>
	<!-- End of Issue content -->


	{{ partial "category_2.html" . }}

	{{ partial "category_3-Building.html" . }}

      </section>

      <!-- New Top Button -->
      {{ partial "gotop_button.html" . }}
      <!-- End of New Top Button -->

    </main>

    {{ partial "footer.html" . }}

    {{ partial "load_scripts.html" . }}
    
  </body>
</html>
