<aside id="sidebar" class="aside-bgcolor--support" >
  <button class="accordion_button">Emergency / Facilities Contacts</button>
  <div class="accordion_div_content">
    <ul>
      <li><a href="building_ef-contacts.html#data-center">Data Center</a></li>
      <li><a href="building_ef-contacts.html#sentara-independence">Sentara Independence</a></li>
      <li><a href="building_ef-contacts.html#all-other-locations">All Other Locations</a></li>
    </ul>
  </div>
  <button class="accordion_button">BMS</button>
  <div class="accordion_div_content">
    <ul>
      <li><a href="building_bms.html#issue-1">Issue 1</a></li>
      <li><a href="building_bms.html#issue-2">Issue 2</a></li>
      <li><a href="building_bms.html#issue-3">Issue 3</a></li>
    </ul>
  </div>
  <button class="accordion_button">Cooling & Heat</button>
  <div class="accordion_div_content">
    <ul>
      <li><a href="building_cool-heat.html#issue-1">Issue 1</a></li>
      <li><a href="building_cool-heat.html#issue-2">Issue 2</a></li>
      <li><a href="building_cool-heat.html#issue-3">Issue 3</a></li>
    </ul>
  </div>
  <button class="accordion_button">Electricity / Power</button>
  <div class="accordion_div_content">
    <ul>
      <li><a href="building_elec-power.html#issue-1">Issue 1</a></li>
      <li><a href="building_elec-power.html#issue-2">Issue 2</a></li>
      <li><a href="building_elec-power.html#issue-3">Issue 3</a></li>
    </ul>
  </div>
  <button class="accordion_button">Fire</button>
  <div class="accordion_div_content">
    <ul>
      <li><a href="building_fire.html#issue-1">Issue 1</a></li>
      <li><a href="building_fire.html#issue-2">Issue 2</a></li>
      <li><a href="building_fire.html#issue-3">Issue 3</a></li>
    </ul>
  </div>
  <button class="accordion_button">IT Disaster Recovery</button>
  <div class="accordion_div_content">
    <ul>
      <li><a href="building_it-disaster.html#issue-1">Issue 1</a></li>
      <li><a href="building_it-disaster.html#issue-2">Issue 2</a></li>
      <li><a href="building_it-disaster.html#issue-3">Issue 3</a></li>
    </ul>
  </div>
  <button class="accordion_button">Maintenance</button>
  <div class="accordion_div_content">
    <ul>
      <li><a href="building_maintenance.html#issue-1">Issue 1</a></li>
      <li><a href="building_maintenance.html#issue-2">Issue 2</a></li>
      <li><a href="building_maintenance.html#issue-3">Issue 3</a></li>
    </ul>
  </div>
  <button class="accordion_button">Ricoh Copiers / Printers</button>
  <div class="accordion_div_content">
    <ul>
      <li><a href="building_copier-printer.html#issue-1">Issue 1</a></li>
      <li><a href="building_copier-printer.html#issue-2">Issue 2</a></li>
      <li><a href="building_copier-printer.html#issue-3">Issue 3</a></li>
    </ul>
  </div>
  <button class="accordion_button">Laser Printers</button>
  <div class="accordion_div_content">
    <ul>
      <li><a href="building_laser-printer.html#issue-1">Issue 1</a></li>
      <li><a href="building_laser-printer.html#issue-2">Issue 2</a></li>
      <li><a href="building_laser-printer.html#issue-3">Issue 3</a></li>
    </ul>
  </div>
  <button class="accordion_button">Sealer (Checks)</button>
  <div class="accordion_div_content">
    <ul>
      <li><a href="building_sealer.html#issue-1">Issue 1</a></li>
      <li><a href="building_sealer.html#issue-2">Issue 2</a></li>
      <li><a href="building_sealer.html#issue-3">Issue 3</a></li>
    </ul>
  </div>
  <button class="accordion_button">Security & Cameras</button>
  <div class="accordion_div_content">
    <ul>
      <li><a href="building_security-cameras.html#issue-1">Issue 1</a></li>
      <li><a href="building_security-cameras.html#issue-2">Issue 2</a></li>
      <li><a href="building_security-cameras.html#issue-3">Issue 3</a></li>
    </ul>
  </div>
</aside>
