<header class="header--primary">
  <h1 class="header_h1--primary"><a href="../index.html">Sentara Computer Operations</a></h1>
  <nav>
    <ul class="nav_ul--primary">
      <li class="nav_li--primary--bldg--active"><a href="building.html">Building</a></li>
      <li><a href="../support/support.html">Support</a></li>
      <li><a href="../systems/systems.html">Systems</a></li>
      <li class="nav_li--hamburger"><button class="nav_hamburger--primary" id="hamburger"><i class="fas fa-bars"></i></button></li>
    </ul>
  </nav>
</header>
