
<!-- Paging for Buisness Hours  -->
<section id="content2">

  <table>
    <thead>
      <tr>
	<th>Service Now Group</th>
	<th>ID</th>
	<th>AMCOM Group</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
	<td colspan="3">{{ .Params.Support_date }}</td>
      </tr>
    </tfoot>
    <tbody>
      {{ range .Params.Bh_support }}
      <tr>
	{{ if .snow_group }}
	  {{ partial "support_snowgroup.html" (dict "snow_group" .snow_group) }}
	{{ end }}
	{{ if .id }}
	  {{ partial "support_id.html" (dict "id" .id) }}
	{{ end }}
	{{ if .amcom }}
	  {{ partial "support_amcom.html" (dict "amcom" .amcom) }}
	{{ end }}
      </tr>
      {{ end }}
    </tbody>
  </table>
</section>
<!-- End of Paging for Buisness Hours -->

